body {
    margin: 0px; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; 
    font-size: 1.1rem;
    letter-spacing: 3px;
    color: white;
}

.background-image {
    background: url("./images/forest.png") center/cover;
}

.grey {
    background-color: rgba(255, 224, 167, 0.068);
    backdrop-filter: blur(9px);
}

.cyan-filter {
    background-color: rgba(148, 255, 255, 0.11);
    height: 100vh;
}

.content {
    height: 80%; 
    width: 60%; 
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 15px;
    padding: 0px 15px; 
    text-align: center;
    position: absolute; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.name {
    margin-bottom: 30px;
    font-size: 2.4rem; 
    font-weight: 600; 
    letter-spacing: .45rem;
}

.job {
    margin-top: 35px; 
    font-size: 1.05rem;
}

.statement {
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.resume-link {
    text-underline-offset: .2em; 
    color: white;
}

.resume-link:link {
    text-decoration: underline dotted;
}

.resume-link:hover {
    text-decoration: none;
}

.foot {
    height: 50px; 
    width: 100%;
    background-color: rgb(26, 28, 31); 
}