body {
    margin: 0px; 
    background-color: rgb(7, 12, 40);

}

.navBar {
    background-color: rgb(17, 36, 62);
    width: 100%;
    height: 80px; 
    position: relative; 
    display: flex; 
    justify-content: space-between;
}