body {
    margin: 0px; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; 
    font-size: 1.1rem;
    position: relative; 
    height: 100%; 
    letter-spacing: 3px;
}

.backImg {
    background: url("./images/forest.png") center/cover;
    height: 100vh;
}

.grey {
    background-color: rgba(255, 224, 167, 0.068);
    height: 100vh;
    backdrop-filter: blur(7px);
}

.cyanFilter {
    background-color: rgba(148, 255, 255, 0.11);
    height: 100vh;
}

.contentContainer {
    display: flex; 
    height: 100vh; 
    width: 100vw; 
    background-color: none;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.content {
    height: 600px; 
    width: 900px; 
    display: flex; 
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.38);
    color: white;
    border-radius: 10px;
    padding: 0px 15px 0px 15px; 
    text-align: center;
    position: relative; 
}

.name {
    margin-bottom: 30px;
    font-size: 2.4rem; 
    font-weight: 600; 
    letter-spacing: .45rem;
}

.job {
    margin-top: 35px; 
    font-size: 1.05rem;
}

.statement {
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.resLink {
    color: white; 
    text-underline-offset: .2em; 
}

.resLink:link {
    text-decoration: underline dotted; 
}

.resLink:hover {
    text-decoration: none;
}

.foot {
    height: 50px; 
    width: 100%;
    background-color: rgb(26, 28, 31); 
    color: white; 
}